<div class="card bg-light feed-item">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="card-title book-title"><i class="fas fa-ticket-alt ticket-icon"></i> {{ post.title }}</h4>
          <h6 class="card-subtitle mb-2">Par {{ post.user }}</h6>
          <h6 class="text-muted card-subtitle mb-2 fst-italic">{{ post.time_created|date:"d/m/Y" }}</h6>
          <br />
          <p class="card-text">{{ post.description|linebreaks }}</p>
        </div>
        <div class="col-md-auto">
          <div class="bookcover img-thumbnail rounded mx-auto d-block">
            <img src="{{ post.image }}" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer post-action-container">
  {% if user != post.user %}
    <button type="button" data-postid="{{ post.id }}" class="btn btn-info btn-post-action btn-sm btn-reply"><i class="fas fa-reply"></i> Répondre</button>
  {% else %}
    <button type="button" data-postid="{{ post.id }}" class="btn btn-warning btn-post-action btn-sm btn-edit-ticket"><i class="fas fa-edit"></i> Modifier</button>
    <button type="button" data-postid="{{ post.id }}" data-type="ticket" data-token="{{ csrf_token }}" class="btn btn-danger btn-post-action btn-sm btn-delete"><i class="fas fa-trash"></i> Supprimer</button>
  {% endif %}
  </div>
</div>
