<div class="modal fade modal-review" role="dialog" tabindex="-1" id="modal-simple-review">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form method="post" id="form-review" action="/make_simple_review" enctype='multipart/form-data'>
        {% csrf_token %}
        <h2 class="text-center"><strong>Critique</strong></h2>
        {% for field in make_full_review_form %}
        {{ field.label }}
        <div class="mb-3">
          {{ field }}
        </div>
        {% endfor %}
        <input type="hidden" name="ticket-id" id="form-ticket-id" value=""/>
        <div class="mb-3">
          <button class="btn btn-primary d-block w-100" type="submit">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>