<nav
  class="navbar sticky-top navbar-light navbar-expand-md bg-light"
  style="border-bottom-width: 1px; border-bottom-style: solid"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LIT Review</a
    ><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-xl-flex justify-content-xl-end" id="navcol-1">
      <button
        class="btn btn-dark"
        id="button-login"
        type="button"
        style="background: var(--bs-pink); border-style: none; margin-right: 1rem"
      >
        Se connecter</button
      ><button
        class="btn btn-dark"
        id="button-signup"
        type="button"
        style="background: var(--bs-red); border-style: none; margin-right: 1rem"
      >
        S'inscrire
      </button>
      <ul class="navbar-nav">
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>
