<nav class="navbar sticky-top navbar-dark navbar-expand-md bg-dark" style="border-bottom-width: 1px; border-bottom-style: solid">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-book"></i> LITReview</a>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-xl-flex justify-content-xl-end" id="navcol-1">
      <span class="navbar-text" style="margin-right: 1rem"><a class="navbar-link" href="/dashboard">Flux</a></span>
      <span class="navbar-text" style="margin-right: 1rem"><a class="navbar-link" href="/posts">Posts</a></span>
      <span class="navbar-text" style="margin-right: 1rem"><a class="navbar-link" href="/sub">Abonnements</a></span>
      <span class="navbar-text" style="margin-right: 1rem"><a class="navbar-link" href="/logout">Se déconnecter</a></span>
    </div>
  </div>
</nav>
