<div class="card feed-item">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="card-title book-title"><span class="badge rounded-pill bg-info">Ticket</span> {{ post.title }}</h4>
          <h6 class="card-subtitle mb-2">Par {{ post.user }}</h6>
          <h6 class="text-muted card-subtitle mb-2 fst-italic">{{ post.time_created|date:"d/m/Y" }}</h6>
          <br />
          <p class="card-text">{{ post.description }}</p>
        </div>
        <div class="col-md-auto">
          <div class="bookcover img-thumbnail rounded mx-auto d-block">
            <img src="{{ post.image }}" />
          </div>
        </div>
      </div>
    </div>
    <a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>
  </div>
</div>
