{% load static %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'assets/css/common.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/bcf78d03de.js" crossorigin="anonymous"></script>
