.feed-item {
  margin-top: 2rem;
}

.bookcover img {
  max-width: 10rem; /* you can use % */
  height: auto;
}

.book-title {
  padding-top: 1rem;
}

.review-buttons-container {
  padding-top: 2rem;
  text-align: center;
}

.review-button {
  margin-left: 5rem;
  margin-right: 5rem;
}

.form-textfield {
  width: 100%;
}

.btn-post-action {
  border-radius: 2em;
  margin-left: 1rem;
  margin-right: 1rem;
}

.post-action-container {
  width: 100%;
  text-align: right;
}
