.feed-item {
  margin-top: 2rem;
}

.bookcover img {
  max-width: 10rem; /* you can use % */
  height: auto;
}

.book-title {
  padding-top: 1rem;
}

.review-buttons-container {
  padding-top: 2rem;
  text-align: center;
}

.review-button {
  margin-left: 5rem;
  margin-right: 5rem;
}

.form-textfield {
  width: 100%;
}
