.feed-item {
  margin-top: 2rem;
}

.bookcover img {
  max-width: 10rem; /* you can use % */
  height: auto;
}

.book-title {
  padding-top: 1rem;
}

.review-buttons-container {
  padding-top: 2rem;
  text-align: center;
}

.review-button {
  background: #212529;
  color: #fff;
  margin-left: 5rem;
  margin-right: 5rem;
}

.review-button:hover,
.review-button:active {
  background: #932432;
  transform: translateY(1px);
}

.form-textfield {
  width: 100%;
}

.btn-post-action {
  border-radius: 2em;
  margin-right: 1rem;
}

.post-action-container {
  width: 100%;
  text-align: right;
}

.review-icon {
  text-align: center;
  color: #3C1874;
}

.ticket-icon {
  text-align: center;
  color: #DE354C;
}
