.card {
  margin-top: 2rem;
}

.card-box {
  border-radius: 0.5rem;
  background-color: #fff;
  height: 15rem;
}

.thumb-lg {
  height: 5rem;
  width: 5rem;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.profile-info {
  padding: 0.5rem;
}

.unsubscribe {
  width: 100%;
  left: 0;
  bottom: 1rem;
  position: absolute;
}

.btn-unsubscribe {
  border-radius: 2em;
}

.user-searchbar {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

#search-user {
  margin-right: 1rem;
}

.btn-subscribe {
  background: #212529;
  color: #fff;
}

.btn-subscribe:hover,
.btn-subscribe:active {
  background: #932432;
  transform: translateY(1px);
}