{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LIT Review</title>
    {% include "static_load/common_head.html" %}
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/review_forms.css' %}" />
  </head>

  <body>
    {% include "components/navbar_user.html" %}
    {% include "components/message_handler.html" %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 review-buttons-container">
                <button type="button" class="btn btn-info review-button" id="button-ask">Demander une critique</button>
                <button type="button" class="btn btn-info review-button" id="button-create">Créer une critique</button>
            </div>
        </div>
      <div class="row">
        <div class="col-md-12">
          {% for post in feed %}
            {% if post.type == 'review' %}
                {% include "components/review_card.html" %}
            {% else %}
                {% include "components/ticket_card.html" %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% include "components/dashboard_modals.html" %}
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
  </body>
</html>
