{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LIT Review</title>
    {% include "static_load/common_head.html" %}
    <link rel="stylesheet" href="{% static 'assets/css/posts.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/review_forms.css' %}" />
  </head>

  <body>
    {% include "components/navbar_user.html" %}
    {% include "components/message_handler.html" %}

    <div class="main-container container">
        <div class="row">
            <div class="col-md-12 review-buttons-container">
                <button type="button" class="btn review-button text-white" id="button-ask">Demander une critique</button>
                <button type="button" class="btn review-button text-white" id="button-create">Créer une critique</button>
            </div>
        </div>
      <div class="row">
        <div class="col-md-12">
          {% for post in feed %}
            {% if post.type == 'review' %}
                {% include "components/card_review.html" %}
            {% else %}
                {% include "components/card_ticket.html" %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="modal-wrapper"></div>
    <script src="{% static 'assets/js/post_actions.js' %}"></script>
  <script src="{% static 'assets/js/star_rating.js' %}"></script>
  </body>
</html>
