{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>LIT Review</title>
    {% include "static_load/common_head.html" %}
    <link rel="stylesheet" href="{% static 'assets/css/min/index.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/min/index_form.min.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
  </head>

  <body>
    {% include "components/navbar_visitor.html" %}
    {% include "components/message_handler.html" %}

    <div class="main-container container">
    <section class="landing-page-introduction">

        <div class="intro">
          <h2 class="text-center">Bienvenue sur LITReview</h2>
          <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit egestas dui id ornare arcu odio. Duis at consectetur lorem donec massa sapien faucibus et. Iaculis eu non diam phasellus vestibulum lorem sed. Facilisis magna etiam tempor orci.
            <br/><br/>
            Senectus et netus et malesuada. Eros in cursus turpis massa tincidunt dui ut ornare. Consequat interdum varius sit amet. Morbi tristique senectus et netus et malesuada fames. Mauris cursus mattis molestie a iaculis at erat pellentesque. Adipiscing tristique risus nec feugiat.
            <br/><br/>
            Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Egestas integer eget aliquet nibh. Volutpat diam ut venenatis tellus in. Sagittis id consectetur purus ut. Dictum non consectetur a erat nam at. Dictum at tempor commodo ullamcorper.
            <br/><br/>
            Id cursus metus aliquam eleifend mi. Pharetra vel turpis nunc eget lorem dolor. Nec ultrices dui sapien eget mi proin sed. Sed risus pretium quam vulputate dignissim suspendisse in est.
            <br/><br/>
            At quis risus sed vulputate odio ut. Dolor sed viverra ipsum nunc aliquet bibendum. Volutpat blandit aliquam etiam erat. Aliquet eget sit amet tellus cras adipiscing enim eu turpis. Ut tortor pretium viverra suspendisse potenti nullam ac tortor.
          </p>
        </div>
    </section>
    </div>

    {% include "components/modal_login.html" %}
    {% include "components/modal_signup.html" %}
    <script src="{% static 'assets/js/min/index.min.js' %}"></script>
  </body>
</html>
